.trending{
    width: 100%;
    height: auto;
}

.trend-section{
    width: 85%;
    height: 100%;
    display: flex;
    margin: auto;
}

.trend-section .trend-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.trend-div .trend-heading-div .trend-head-title{
    font-size: 2.4rem;
    padding: .1rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.trend-div .trend-para-des{
    font-size: 1.3rem;
    padding: .1rem;
}

.trend-div .trend-posts{
    display: flex;
    flex-wrap: wrap;
    margin:  .5rem;
    padding: .5rem;
    justify-content: space-around;
}

.trend-div .trend-posts .postBox{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1.2rem;
    /* padding: 1.5rem; */
}

.trend-div .trend-posts .postBox .imgBox{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    border-radius: 1rem;
}

.postBox .imgBox .trend-post-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trend-div .trend-posts .postBox .trend-post-discription{
    margin: 1rem .2rem;
    padding: .5rem .2rem;
}

.postBox .trend-post-discription .trend-post-title{
    font-size: 2rem;
    font-weight: 600;
    /* padding: .2rem; */
}

.postBox .trend-post-discription .trend-post-excrept{
    font-size: 1.3rem;
    padding: .2rem;
}

.trend-post-title{
    display: inline;
    background-image: linear-gradient(black,black);
    background-size: 0 2px;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding: .4rem;
    padding-left: 0;
    /* padding-left: rem; */
    transition: background-size .5s ease-in-out;
}


.trend-post-title:hover{
    background-size: 100% 2px;
    transition: background-size .7s ease-in-out;
}