.trending{
    width: 100%;
    height: auto;
}

.trend-section{
    width: 85%;
    height: 100%;
    display: flex;
    margin: auto;
}

.trend-section .trend-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.trend-div .trend-heading-div{
    margin-left: 2rem;
    padding: 2rem;
}

.trend-div .trend-heading-div .trend-head-title{
    font-size: 2.4rem;
    padding: .1rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.trend-div .trend-para-des{
    font-size: 1.3rem;
    padding: .1rem;
}

.trend-div .trend-posts{
    display: flex;
    flex-wrap: wrap;
    margin:  .5rem;
    padding: .5rem;
    justify-content: space-around;
}

.trend-div .trend-posts .postBox{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1.2rem;
}